*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-image: url(../img/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

.header::before{
    content: "";
    position: absolute;
    background-image: url(../img/header_decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(35%);
    z-index: 2;
}

.header::after{
    content: "";
    position: absolute;
    background-image: url(../img/header_decor.svg);
    bottom: 0;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(75%) rotate(180deg);
    z-index: 3;
}

.header__top{
    display: flex;
    align-items: center;
    padding: 57px 0;
    gap: 100px;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
}

.header__logo path{
    transform: fill .3s ease;
}

.header__logo:hover path{
    fill: aqua;
}

.header__btn{
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-style: normal;
    padding: 12px 71px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.header__content{
    /* margin-top: 261px; */
    min-height: calc(100vh - 161px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header__content-box{
    max-width: 550px;
    text-align: center;
    margin-right: 30px;
    color: white;
}

.header__title {
    font-size: 64px;
    line-height: 71px;
    margin-bottom: 20px;
}

.header__text{
    font-size: 24px;
    line-height: 20px;
}

.header__decor-text{
    position: absolute;
    color: #0093A1;
    bottom: 25px;
}

.header__decor-text--one{
    z-index: 1;
    right: 145px;
    bottom: 120px;
}

.header__decor-text--one,
.header__decor-text--two{
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 145px;
    opacity: 0.3;
}

.header__decor-text--two{
    z-index: 4;
    left:265px;
    bottom: 0;
}

.header__decor-text--three{
    max-width: 360px;
    right: 145px;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    line-height: 1;
    z-index: 4;
}

.info{
    background-image: url(../img/main_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 90px;
    z-index: 1;
}

.info::before{
    content: "";
    position: absolute;
    height: 150px;
    background-color: #262C27;
    top: 0;
    left: 0;
    right:0;
    transform: translateY(-170px);
    z-index: 1;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.info__top{
    display: flex;
    gap:80px;
    padding-top: 0px;
}

.info__top-text{
    padding-top: 245px;
    width: 290px;
    color: white;
    position: relative;
}

.info__top-img{
    position: relative;
    z-index: 6;
}

.fa-fa-pause,
.popup-btn{
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.fa-fa-pause{
    position: absolute;
    top: 85%;
    left: 60%;
    cursor: pointer;
    outline: none;
    color: white;
    background: royalblue;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    /* transform: translate(-100%); */
}

.videos_one {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;

    z-index: -1;
    background-size: cover;
}

.popup-btn span{
    padding-top: 12px;
    display: block;
    color: white;
}

.info-btn{
    position: absolute;
    bottom: 50px;
}

.info__specs{
    margin-top: 597px;
    display: flex;
    align-items: center;
    gap: 130px;
    color: white;
}

.info__specs-title{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    width: 250px;
}

.info__specs-list{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 565px;
    padding: 30px 0;
}

.info__specs-item{
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
    
}

.info__spect-caption{
    width: 190px;
}

.buy{
    padding: 150px 0;
}

.buy__inner{
    display: flex;
    align-items: center;
    gap: 90px
}

.buy__content{
    width: 510px;
}

.buy__title{
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    color: #0093A1;
}

.buy__list{
    margin-bottom: 25px;
}

.buy__item{
    margin-bottom: 25px;
    width: 292px;
}

.buy__item:hover .buy__item-title{
    color: aquamarine;
}

.buy__item-title{
    text-transform: uppercase;
    font-weight: 700;
    transition: color .3s;
}

.buy__price{
    position: absolute;
    width: 201px;
    height: 199px;
    justify-content: center;
    background-image: url(../img/star.svg);
    align-items: center;
    display: flex;
    right: 1030px;
    top: 3250px
}


.buy__btn{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #0093A1;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #0093A1;;
    width: 100%;
    max-width: 510px;
}


.technology::before{
    content: "";
    position: absolute;
    background-image: url(../img/Vector.png);
    top:  -550px;
    left: 0;
    right: 0;
    height: 456px;
    transform: translateY(75%) rotate(360deg);
    z-index: 3; 
}

.technology{
    /* background-image: url(../img/technology_bg.png); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-top: 90px;
    height: 1198px;
}

.technology__inner{
    padding-top: 380px;
}




.technology-btn{
    padding-left: 750px;
    display: none;
}

.techology__content{
    margin-top: 175px;
    
}

.technology__content-info{
    /* display: flex;
    flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* gap: 0px; */
    width: 1204px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.techology__content-title {
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
    margin-bottom: 76px;
    color: white;
}

.info-item{
    width: 337px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 18px;
    color: white;
}


.info-three{
    width: 350px;
    margin-top: 299px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}

.sup-imgZ{
    position: absolute;
    bottom: -450px;
    left: 790px;
}

.sup-img3{
    margin-left: 24px;
}

.technology__image{
    padding-top: 150px;
    margin: 0 auto;
}

.tech-four{
    margin-left: 0px;
}

.tech-five{
    margin-left: 15px;
}

.tech-img{
    position: absolute;
    bottom: -1300px;
    left: 460px;
}

.contact{
    background-color: #262C27;
}


.contact__inner{
    margin-top: 1700px;
    max-width: 1230px;
}

.contact__title{
    display: flex;
    flex-wrap: wrap;
    width: 1230px;
    justify-content: space-between;
    align-items: center;
}

.contact__title-text{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 67px;
}

.contact__info{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.input{
    background-color: #262C27;
    border:0;
    border-bottom:1px solid #eee;
    margin-bottom: 70px;
    min-width: 500px;
}

.footer__button{
    width: 193px;
    height: 42px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    cursor: pointer;
}

.contact__img{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
}

.img__title{
    width: 1200px;
    color: white;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.img__photo{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 20px;
}

.img__text{
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1200px;
    margin-bottom: 20px;
}

.video-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.info{
    color: black;
}

.videos1{
    width:1920px;
    height: 315px;
}

/* .iframe { */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);


@media  (max-width: 1000px){
    
}

@media  (max-width: 376px){
    .header{
        background-size:cover;
    }

    .header__top{
        width: 355px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }

    .header__logo{
        padding: 0px;
        width: 80px;
    }

    .header__btn{
        width: 140px;
        font-size: 10px;
        padding: 0px;
        height: 25px;
        margin-right: 10px;
    }

    .header__phone{
        font-size: 10px;
        display: none;
        width: 350px;
        text-align:  center;
    }

    .header__content-box{
        z-index: 7;
    }

    .header__decor-text--two{
        display: none;
    }
    .header__decor-text--three{
        display: none;
    }

    .info__top{
        font-size: 10px;
    }

    .info__top-img{
        display: none;
    }

    .info__specs{
        flex-wrap: wrap;
    }

    .buy__img{
        display: none;
    }

    .main{
        padding: 0;
        margin: 0;
    }



    .info-item{
        width: 200px;
    }

    .sup-imgZ{
        display: none;
    }

    .technology__inner{
        max-width: 370px;
    }

    .technology__image{
        display: none;
    }

    .technology__content-info{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .content-info-one{
        width: 300px;
    }

    .techology__content-title{
        font-size: 30px;
    }

    .sup-img1,.sup-img2,.tech-two{
        width: 300px;
    }

    .sup-img2{
        margin-bottom: 30px;
    }

    .sup-img3{
        display: none;
    }

    .techology__content{
 
    }

    .tech-one{
        display: none;
    }
    .tech-four{
        display: none;
    }
    .tech-five{
        display: none;
    }
    .tech-six{
        display: none;
    }
    .tech-seven{
        display: none;
    }


    .contact__title{
        width: 300px;
    }

    .contact__title-img1{
        width: 300px;
    }

    .contact__title-text{
        width: 300px;
    }

    .input {
        width: 300px;
        min-width: 100px
    }

    .img__photo{
        display: flex;
        flex-wrap: wrap;
    }

    body{

    }

.contact__inner{
    margin-top: 1000px;
    max-width: 1230px;
    }
.video-container{
    width: 300px;
    }
.class="date-20221010 ru_RU ltr  site-center-aligned site-as-giant-card webkit webkit-605"{
    width: 300px;
}
.video-container iframe{
    width: 370px;
}
.videos2{
    margin-top: 130px;
}
.technology{
    margin-top: -18px;
}
.techology__content-title,.info-item, .info-three {
    color: black;
}

.contact__title-img1{
    margin-bottom: 30px;
}

.contact-text5{
    width: 300px;
}

.img__photo{
    gap:10px
}
}

@media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      /* height = 100 * (9 / 16) = 56.25 */
      height: 56.25vw;
    }
  }
      
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      /* width = 100 / (9 / 16) = 177.777777 */
      /* width: 177.78vh; */
    }
  }